.new-task-container{
    width: 100%;
    height: 1.5rem;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.new-task-container .new-task-button{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color:mediumturquoise;
    transform: translate(-15%,-30%);
}

.new-task-container .new-task-text{
    color:white;
}